* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    display: block;
    background-color: rgb(236, 220, 127);
    margin-top: 0px;  }

.title {
    background-image: linear-gradient(60deg, rgb(173, 111, 30),yellow);
    background-size: 100%;
    background-clip: initial;
    -webkit-background-clip:text;
    color: transparent;
    text-align: center;
    font-size: 100px;
    padding: 150px;
}

a{
    color: goldenrod;
    font-weight: 600;
    font-size: 40px;
    flex:1;
    }

ul{
    list-style: none;
    display:flex; 
    justify-content: space-around;
    align-items: center;
    }

.title_of_recipe {
    flex:initial;
    text-align: center;
    }

img {
    max-width:500px;
    height: 400px;
    border-radius: 10px;
    }